In [1]:
# Import Numpy
import numpy as np

# Import Matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# SQL ALchemy 
from sqlalchemy import create_engine

# Import PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

# Import Pandas 
import pandas as pd

In [2]:
# Loading CSV files
csv = "USHIVCases.csv"

In [3]:
HIV = pd.read_csv(csv)
HIV

,Name,2008_Cases,2009_Cases,2010_Cases,2011_Cases,2012_Cases,2013_Cases,2014_Cases,2015_Cases,2016_Cases,2017_Cases,2018_Cases
0,US,47290,44751,43067,41311,40529,39230,39963,39796,39520,38226,37286

In [4]:
HIV = HIV.rename(columns={"2008_Cases": "2008", "2009_Cases": "2009", "2010_Cases": "2010", "2011_Cases": "2011", "2012_Cases": "2012", "2013_Cases": "2013", "2014_Cases": "2014", "2015_Cases": "2015", "2016_Cases": "2016", "2017_Cases": "2017", "2018_Cases": "2018"})
HIV.head()

,Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,US,47290,44751,43067,41311,40529,39230,39963,39796,39520,38226,37286

In [6]:
HIV.to_csv("USHIVCases_clean.csv", index=False)