In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Loading csv files
file = "unemployment _2008_2018.csv"

In [3]:
# Read CSV files
unemployment = pd.read_csv(file)
unemployment.head()

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2017,Med_HH_Income_Percent_of_State_Total_2017
0,0,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$60,336",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$48,193",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$58,343",121.1
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$56,607",117.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$32,490",67.4

In [4]:
# Creating a filtered dataframe from specific columns
unemployment= unemployment[['Area_name', "Unemployment_rate_2008", "Unemployment_rate_2009" , "Unemployment_rate_2010", "Unemployment_rate_2011", "Unemployment_rate_2012", "Unemployment_rate_2013", "Unemployment_rate_2014" , "Unemployment_rate_2015" ,"Unemployment_rate_2016" , "Unemployment_rate_2017", "Unemployment_rate_2018"]]

In [5]:
States=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
State_unemployment= unemployment[unemployment.Area_name.isin(States)]
State_unemployment= State_unemployment.rename(columns={'Area_name': 'Name'})
State_unemployment.drop_duplicates(subset= "Name", keep = 'first', inplace = True)
State_unemployment.head(50)

,Name,Unemployment_rate_2008,Unemployment_rate_2009,Unemployment_rate_2010,Unemployment_rate_2011,Unemployment_rate_2012,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018
1,Alabama,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9
69,Alaska,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6
102,Arizona,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8
118,Arkansas,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7
194,California,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,4.8,4.2
253,Colorado,4.8,7.3,8.7,8.4,7.9,6.9,5.0,3.9,3.2,2.7,3.3
318,Connecticut,5.7,7.9,9.1,8.8,8.3,7.8,6.6,5.7,5.1,4.7,4.1
327,Delaware,4.9,8.3,8.4,7.5,7.2,6.7,5.7,4.9,4.5,4.5,3.8
331,District of Columbia,6.5,9.3,9.4,10.2,9.0,8.5,7.8,6.9,6.1,6.1,5.6
332,Florida,6.3,10.4,11.1,10.0,8.5,7.2,6.3,5.5,4.8,4.2,3.6
400,Georgia,6.2,9.9,10.5,10.2,9.2,8.2,7.1,6.0,5.4,4.7,3.9
560,Hawaii,4.3,7.2,6.9,6.8,6.0,4.9,4.4,3.6,3.0,2.4,2.4
565,Idaho,5.1,8.8,9.0,8.3,7.2,6.1,4.8,4.2,3.8,3.2,2.8
610,Illinois,6.3,10.2,10.4,9.7,9.0,9.0,7.1,6.0,5.8,4.9,4.3
713,Indiana,5.9,10.3,10.4,9.1,8.3,7.7,6.0,4.8,4.4,3.6,3.4
806,Iowa,4.2,6.4,6.0,5.5,5.0,4.7,4.2,3.8,3.6,3.1,2.5
906,Kansas,4.6,6.9,7.1,6.5,5.7,5.3,4.5,4.2,4.0,3.7,3.4
1012,Kentucky,6.4,10.3,10.2,9.4,8.2,8.0,6.5,5.3,5.1,4.9,4.3
1133,Louisiana,4.9,6.8,8.0,7.8,7.1,6.7,6.4,6.3,6.1,5.1,4.9
1198,Maine,5.5,8.1,8.1,7.9,7.5,6.6,5.6,4.4,3.8,3.4,3.4
1215,Maryland,4.2,7.0,7.7,7.2,7.0,6.6,5.8,5.1,4.5,4.3,3.9
1240,Massachusetts,5.5,8.1,8.3,7.3,6.7,6.7,5.7,4.8,3.9,3.8,3.3
1255,Michigan,8.0,13.7,12.6,10.4,9.1,8.8,7.2,5.4,5.0,4.6,4.1
1339,Minnesota,5.4,7.8,7.4,6.5,5.6,5.0,4.2,3.7,3.9,3.4,2.9
1427,Mississippi,6.6,9.5,10.4,10.0,9.0,8.5,7.5,6.4,5.8,5.1,4.8
1510,Missouri,6.1,9.3,9.6,8.5,6.9,6.7,6.1,5.0,4.6,3.8,3.2
1626,Montana,5.1,6.8,7.3,6.9,6.0,5.4,4.7,4.2,4.1,3.9,3.7
1683,Nebraska,3.3,4.6,4.6,4.4,4.0,3.8,3.3,3.0,3.1,2.9,2.8
1777,Nevada,6.7,11.3,13.5,13.0,11.2,9.6,7.9,6.8,5.7,5.1,4.6
1795,New Hampshire,3.9,6.2,5.8,5.4,5.5,5.1,4.3,3.4,2.9,2.7,2.5
1806,New Jersey,5.3,9.1,9.5,9.3,9.3,8.2,6.8,5.8,5.0,4.6,4.1
1828,New Mexico,4.5,7.5,8.1,7.5,7.1,6.9,6.7,6.5,6.6,5.9,4.9
1862,New York,5.4,8.3,8.6,8.3,8.5,7.7,6.3,5.3,4.9,4.7,4.1
1925,North Carolina,6.1,10.6,10.9,10.3,9.3,8.0,6.3,5.7,5.1,4.5,3.9
2026,North Dakota,3.2,4.1,3.8,3.5,3.1,2.9,2.7,2.8,3.1,2.7,2.6
2080,Ohio,6.4,10.3,10.3,8.8,7.4,7.5,5.8,4.9,5.0,5.0,4.6
2169,Oklahoma,3.7,6.4,6.8,5.9,5.2,5.3,4.5,4.4,4.8,4.2,3.4
2247,Oregon,6.5,11.3,10.6,9.5,8.8,7.9,6.8,5.6,4.8,4.1,4.2
2284,Pennsylvania,5.3,8.0,8.5,7.9,7.8,7.4,5.9,5.3,5.4,4.9,4.3
2352,Rhode Island,7.8,11.0,11.2,11.0,10.4,9.3,7.7,6.0,5.2,4.4,4.1
2358,South Carolina,6.8,11.2,11.2,10.6,9.2,7.6,6.5,6.0,5.0,4.3,3.4
2405,South Dakota,3.1,4.9,5.0,4.7,4.3,3.8,3.4,3.1,3.0,3.2,3.0
2472,Tennessee,6.6,10.5,9.7,9.0,7.8,7.8,6.6,5.6,4.7,3.8,3.5
2568,Texas,4.8,7.6,8.1,7.8,6.7,6.3,5.1,4.4,4.6,4.3,3.9
2823,Utah,3.6,7.3,7.8,6.7,5.4,4.6,3.8,3.6,3.4,3.3,3.1
2853,Vermont,4.7,6.6,6.1,5.5,5.0,4.4,3.9,3.6,3.2,3.0,2.7
2868,Virginia,3.9,6.7,7.1,6.6,6.1,5.7,5.2,4.5,4.1,3.7,3.0
3002,Washington,5.4,9.2,10.0,9.3,8.1,7.0,6.1,5.6,5.3,4.7,4.5
3042,West Virginia,4.3,7.7,8.7,8.1,7.5,6.8,6.6,6.7,6.1,5.2,5.3
3098,Wisconsin,4.9,8.6,8.7,7.8,7.0,6.7,5.4,4.6,4.0,3.3,3.0

In [6]:
State_unemployment['Unemployment_rate_2008-2012'] = State_unemployment[['Unemployment_rate_2008','Unemployment_rate_2009', 'Unemployment_rate_2010', 'Unemployment_rate_2011','Unemployment_rate_2012']].mean(axis=1)
State_unemployment['Unemployment_rate_2013-2018'] = State_unemployment[['Unemployment_rate_2013','Unemployment_rate_2014', 'Unemployment_rate_2015', 'Unemployment_rate_2016','Unemployment_rate_2017','Unemployment_rate_2018']].mean(axis=1)
State_unemployment.head()

,Name,Unemployment_rate_2008,Unemployment_rate_2009,Unemployment_rate_2010,Unemployment_rate_2011,Unemployment_rate_2012,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018,Unemployment_rate_2008-2012,Unemployment_rate_2013-2018
1,Alabama,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9,8.96,5.700000
69,Alaska,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6,7.40,6.816667
102,Arizona,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8,8.86,5.950000
118,Arkansas,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7,7.48,4.933333
194,California,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5,4.8,4.2,10.56,6.183333

In [7]:
State_unemployment= State_unemployment.drop(['Unemployment_rate_2008','Unemployment_rate_2009', 'Unemployment_rate_2010', 'Unemployment_rate_2011','Unemployment_rate_2012','Unemployment_rate_2013','Unemployment_rate_2014','Unemployment_rate_2015', 'Unemployment_rate_2016','Unemployment_rate_2017','Unemployment_rate_2018'], axis=1)
State_unemployment.head()

           Name  Unemployment_rate_2008-2012  Unemployment_rate_2013-2018
1       Alabama                         8.96                     5.700000
69       Alaska                         7.40                     6.816667
102     Arizona                         8.86                     5.950000
118    Arkansas                         7.48                     4.933333
194  California                        10.56                     6.183333

In [8]:
State_unemployment["Unemployment_rate_variance"] = State_unemployment["Unemployment_rate_2008-2012"]-State_unemployment["Unemployment_rate_2013-2018"]

In [9]:
State_unemployment.head()

,Name,Unemployment_rate_2008-2012,Unemployment_rate_2013-2018,Unemployment_rate_variance
1,Alabama,8.96,5.700000,3.260000
69,Alaska,7.40,6.816667,0.583333
102,Arizona,8.86,5.950000,2.910000
118,Arkansas,7.48,4.933333,2.546667
194,California,10.56,6.183333,4.376667

In [10]:
file = "New_HIV_Case_Rates.csv"
cases = pd.read_csv(file)
cases.head()

,Name,New HIV Case Rate 2008-2012,New HIV Case Rate 2013-2018,New HIV Case Rate Variance
0,Alabama,14.385351,13.219613,1.165738
1,Alaska,4.147444,3.996431,0.151014
2,Arizona,9.750057,10.556607,-0.806551
3,Arkansas,8.503143,9.644722,-1.141579
4,California,14.223003,12.548216,1.674786

In [11]:
State_unemployment = State_unemployment.merge(cases, on='Name')
State_unemployment.head()

,Name,Unemployment_rate_2008-2012,Unemployment_rate_2013-2018,Unemployment_rate_variance,New HIV Case Rate 2008-2012,New HIV Case Rate 2013-2018,New HIV Case Rate Variance
0,Alabama,8.96,5.700000,3.260000,14.385351,13.219613,1.165738
1,Alaska,7.40,6.816667,0.583333,4.147444,3.996431,0.151014
2,Arizona,8.86,5.950000,2.910000,9.750057,10.556607,-0.806551
3,Arkansas,7.48,4.933333,2.546667,8.503143,9.644722,-1.141579
4,California,10.56,6.183333,4.376667,14.223003,12.548216,1.674786

In [12]:
State_unemployment.to_csv('unemployment_rate.csv', index = False, na_rep= '')